@use "@/styles/colors";
@use "@/styles/fonts";

.inventory-card {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: "Apercu Pro", sans-serif;

    .image-wrapper {
        position: relative;
        width: 93px;
        height: 93px;

        .item-image {
            width: 100%;
            height: 100%;
            object-fit: contain;
            display: block;
        }

        &.cooldown img {
            opacity: 0.9;
        }

        &.armor {
            background: radial-gradient(59.14% 59.14% at 50% 50%, #7f59ce 0%, rgba(127, 89, 206, 0) 100%);
        }

        &.weapon {
            background: radial-gradient(59.14% 59.14% at 50% 50%, #7f59ce 0%, rgba(127, 89, 206, 0) 100%), #1a1a1a;
        }
    }
}
