$color-background: #242223;
$color-inventory-card-background: #1a1a1a;
$color-inventory-card-border: #454545;
$color-inventory-filter-border: #000000;
$color-inventory-filter-background: #393839;
$color-inventory-btn-text: #969696;
$color-text-active: #ffffff;
$color-inventory-tooltip-background: #241917;
$color-scrollbar: #d9d9d9;
$color-scrollbar-hover: #888;
$color-gradient-weapon: radial-gradient(59.14% 59.14% at 50% 50%, #7f59ce 0%, rgba(127, 89, 206, 0) 100%);
$color-gradient-armor: radial-gradient(59.14% 59.14% at 50% 50%, #005fce 0%, rgba(0, 95, 206, 0) 100%);
