@font-face {
    font-family: "Commuters Sans";
    src: url("../assets/fonts/commuterssans-heavy.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Apercu Pro";
    src: url("../assets/fonts/apercu-medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
